h1{
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
div.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: #333 2px solid;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: #333 2px 2px 5px;
}
p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}
button {
    background-color: #4CAF50;
    color: rgb(20, 19, 19);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fcf8f8;
    margin: 0;
    padding: 20px;
}
img {
    max-width: 100%;
    height: 40%;
    width: 30%;
    display: block;
    margin: 0 auto;
}